<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926453538776-nf75j94ig831ia0conojjjk723r9cip2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926453538776-nf75j94ig831ia0conojjjk723r9cip2</string>
	<key>API_KEY</key>
	<string>AIzaSyCvL385Vjo1jCQB-zVbchZrznIkGjFNwPk</string>
	<key>GCM_SENDER_ID</key>
	<string>926453538776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samsonsunny.myday</string>
	<key>PROJECT_ID</key>
	<string>todo-7cfc0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-7cfc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926453538776:ios:c10c210bbda06705c19cad</string>
	<key>DATABASE_URL</key>
	<string>https://todo-7cfc0.firebaseio.com</string>
</dict>
</plist>